.sec1 {
    background-color: #018790;
    padding: 40px 60px;
    min-height: 100vh;
    box-sizing: border-box;
}

/* ===== Navbar ===== */
.navbar {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 45px;
    margin: 0 0 50px 0;
    padding: 0;

}

.navbar li:first-child {
    margin-right: auto;
}

.navbar li {
    margin-left: 10px;
}

.navbar li:first-child {
    margin-left: 0;
}

.navbar li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 18px;
    transition: 0.3s ease;
}

.navbar li:hover a {
    color: yellow;
    text-decoration: underline 2px yellow;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.hero-left h1 {
    color: white;
    font-size: 48px;
    margin: 0 0 20px 0;
}

.hero-left p {
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
}

.buttons button {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    margin-right: 15px;
    border: none;
    cursor: pointer;
    border-radius: 19px;
    transition: 0.3s ease;
}

.btn1 {
    background-color: yellow;
    color: black;
}

.btn1:hover {
    background-color: wheat;
}

.btn2 {
    background-color: white;
    color: black;
}

.btn2:hover {
    background-color: lightgray;
}

.hero-right img {
    max-width: 500px;
    width: 100%;
    height: auto;
    display: block;
}

/* ========== */

.product-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px;
    background-color: #f4f7f5;
    gap: 60px;
}

.content {
    max-width: 350px;
}

.content h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #2f2f2f;
}

.content p {
    color: #6b6b6b;
    line-height: 1.6;
    margin-bottom: 25px;
}

.content button {
    background-color: #2f6f5e;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.4s;
}

.content button:hover {
    background-color: #4e4b4b;


}

.cards {
    display: flex;
    gap: 30px;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-12px);
    box-shadow: 0 18px 35px rgba(0, 0, 0, 0.15);
    background-color: #dfe9e7;
}

.card {
    background-color: #e6efed;
    width: 220px;
    padding: 30px 20px 40px;
    border-radius: 18px;
    text-align: center;
    position: relative;
    transition: 0.3s ease;
}

.card img {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
}

.card h4 {
    margin: 15px 0 5px;
    color: #2f2f2f;
}

.card span {
    font-weight: 600;
    color: #2f2f2f;
}

.card.active .dot {
    width: 20px;
    height: 20px;
    background-color: #2f2f2f;
    border-radius: 50%;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

/* =============== */

.why-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    background-color: #f5f7f6;
    gap: 60px;
}

.why-left {
    max-width: 520px;
}

.why-left h2 {
    font-size: 36px;
    margin-bottom: 15px;
    color: #2f2f2f;
}

.desc {
    color: #6b6b6b;
    line-height: 1.6;
    margin-bottom: 40px;
}

.features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.feature h4 {
    font-size: 16px;
    margin: 10px 0;
    color: #2f2f2f;
}

.feature p {
    font-size: 14px;
    color: #6b6b6b;
    line-height: 1.5;
}

.icon {
    display: inline-block;
    font-size: 20px;
    background-color: #e6efed;
    padding: 8px;
    border-radius: 50%;
}

.why-right img {
    width: 420px;
    border-radius: 15px;
    margin: 30px;
    display: block;
}

/* ==========
============= */



.rb-section {
    width: 90%;
    margin: 60px auto;
}

.rb-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.rb-title {
    font-size: 28px;
    font-weight: 600;
}

.rb-link {
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.rb-cards {
    display: flex;
    gap: 25px;
}

.rb-card {
    width: 33%;
}

.rb-img {
    width: 100%;
    height: 220px;
    border-radius: 14px;
    object-fit: cover;
}

.rb-heading {
    font-size: 16px;
    margin-top: 15px;
}

.rb-text {
    font-size: 13px;
    color: #777;
    margin-top: 6px;
}

.rb-header a:hover {
    text-decoration: underline 3px #FFD93D;
    color: rgb(3, 3, 3);
}

/* ============
===========
=========== */
.fin-footer {
    font-family: Arial, sans-serif;
    background: #ffffff;
    padding: 60px 80px 20px;
    color: #555;
}

.fin-footer__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}

.fin-footer__newsletter {
    max-width: 500px;
}

.fin-footer__form {
    display: flex;
    gap: 10px;
}

.fin-footer__form input {
    padding: 12px 14px;
    border: 1px solid #ddd;
    border-radius: 6px;
    width: 180px;
}

.fin-footer__form button {
    background: #2f7f7a;
    color: #fff;
    border: none;
    padding: 12px 16px;
    border-radius: 6px;
    cursor: pointer;
}

.fin-footer__form button:hover {
    background-color: #2f2f2f;
}

.fin-footer__image img {
    max-width: 460px;
}

.fin-footer__bottom {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 40px;
}

.fin-footer__brand {
    max-width: 300px;
}

.fin-footer__brand h2 {
    margin-bottom: 10px;
}

.fin-footer__socials {
    margin-top: 15px;
}

.fin-footer__socials a {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
}

.fin-footer__links {
    display: flex;
    gap: 60px;
}

.fin-footer__links h4 {
    margin-bottom: 10px;
    font-size: 18px;
}

.fin-footer__links a {
    display: block;
    text-decoration: none;
    color: #666;
    font-size: 13px;
    margin-bottom: 6px;
}


.fin-footer__copyright {
    border-top: 1px solid #eee;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.fin-footer__copyright a {
    margin-left: 15px;
    text-decoration: none;
    color: #777;
}